<div class="Container">
  <h1 style="display: flex; align-items: center; justify-content: center;">Routing and navigation</h1>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav style="display: flex; justify-content: center; align-items: center;">
  <a routerLink = "/Home" routerLinkActive = "active">Home</a>
  <a routerLink = "/About" routerLinkActive = "active">About</a>
</nav>
<router-outlet></router-outlet>
