/* You can add global styles to this file, and also import other style files */
nav a.active{
    color: #039be5;
}

nav a {
    margin: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}